body{
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}
.fontColorBlack{
    color: #262626;
}
.fontColorGray{
    color: #8E8E8E;
}
.fontColorTooGray{
    color: #C7C7C7;
}
.fontColorBlue{
    color: #139EF2;
}
.fontTooLight{
    font-weight: 300;
    font-size: 12px;
    line-height: 14.06px;
}
.fontLight{
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
}
.fontStrong{
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
}
.top{
    background-color: #FFFFFF;
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
}
.page{
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logoInsta{
    width: 144.62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoInsta ion-icon{
    width: 19.25px;
    height: 19.25px;
}
.barraVertical{
    background-color: #DBDBDB;
    width: 1px;
    height: 22px;
}
.search div{
    background-color: #FAFAFA;
    border-radius: 3px;
    width: 215px;
    height: 26px;
    border: #DBDBDB solid 1px;
    color: #979797;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search img{
    display: none;
}
.icons{
    width: 141px;
    height: 16.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons ion-icon{
    width: 16.5px;
    height: 16.5px;
}
.content{
    background-color: #ebebeb;
    width: 935px;
    display: flex;
    justify-content: center;
    margin-top: 54px;

}
.rightSide{
    width: 293px;
}
.leftSide{
    width: 614px;
    margin-right: 29px;
}
.storiesBox{
    margin-top: 34px;
    width: 614px;
    height: 118px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    border: #DBDBDB solid 1px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 24px;
}
.storiesBox ion-icon{
    color: white;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 8px;

}
.stories{
    height: fit-content;
    margin-top: 18px;
    margin-bottom: 14px;
    margin-left: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.story{
    width: 78px;
    height: fit-content;
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.storyIcon{
    position: relative;
    width: 66px;
    height: 66px;
}

.profileImage{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    width: 56px;
    height: 56px;
}
.backgroundImg{
    width: 100%;
    height: 100%;
}

.nameProfile{
    text-align: center;
    font-size: 12px;
    max-width: 78px;
    overflow: hidden;
}
}

.posts{
    width: 614px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.post{
    margin-bottom: 60px;
    background-color: white;
    border: #DBDBDB solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}
.postTop{
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postProfile{
    margin-left: 18px;
    width: 156px;
    display: flex;
    justify-content: space-between;
}
.postProfile img{
    width: 32px;
    height: 32px;
}
.postProfile div{
    width: 109px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.postTop ion-icon{
    margin-right: 18px;
}

.postActions{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 13.5px 17.5px;
}
.postActions div{
    display: flex;
    width: 85px;
    justify-content: space-between;
    align-items: center;
}
.postActions ion-icon{
    width: 17.5px;
    height: 17.5px;
}

.postBottom{
    text-align: start;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}
.postBottom img{
    margin-left: 17px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.myProfile{
    width: 100%;
    margin-top: 57px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;

}
.myProfile img{
    margin-right: 17px;
    width: 56px;
    height: 56px;
}
.suggestions{
    width: 100%;
}
.suggestionsTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.suggestionsBox{
    width: 100%;
}
.suggestedProfile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
.suggestedProfile > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.suggestedProfile img{
    margin-right: 11px;
}
.extraOptions{
    margin-top: 33px;
}
.extraLinks{
    width: 300px;
    height: 42px;
    margin-bottom: 18px;
}
.copyRight{
    width: 300px;
    height: 14px;
}



@media (max-width: 935px){
    .rightSide{
        display: none;
    }
}

@media (max-width: 614px){

    .content{
        width: 100%;
    
    }
    .leftSide{
        width: 100%;
    }
    .storiesBox{
        margin-top: 34px;
        width: 100%;
        background-color: inherit;
        border: none;
        border-radius: none;
        overflow: hidden;
        margin-bottom: 24px;
    }
    .posts{
        width: 100%;
    }
    .storiesBox ion-icon{
        display: none;
    
    }
    .post > img{
        width: 100%;
        height: auto;
    }
    .logoInsta div{
        display: none;
    }
    .logoInsta img{
        display: none;
    }
    .search div{
        display: none;
    }
    .search img{
        display: inline;
    }
    .icons ion-icon{
        display: none;
    }
    .icons .special{
        display: inline;
    }
    .icons{
        justify-content: flex-end;
    }
    
}